{
	"rules": {
		"no-tabs": 0,
		"no-console": 0,
		"no-underscore-dangle": 0,
		"no-unused-vars": [2, { "argsIgnorePattern": "next" }],
		"no-use-before-define": [2, { "variables": false }],
		"no-multi-str": 0,
		"func-names": [2, "never"],
		"no-await-in-loop": 2,
		"no-magic-numbers": 2,
		"arrow-parens": [2, "as-needed"]
	},
	"env": {
		"node": true,
		"mocha": true
	},
	"parserOptions": {
		"ecmaVersion": 8
	},
	"extends": ["airbnb-base"]
}
